@model IEnumerable<Kuharica.Models.Recipe>

@{
    ViewBag.Title = "Recepti";
}

<h1>Recepti</h1>
<ul>
    @foreach (var recipe in Model)
    {
        <li>@recipe.Chef.Name - @recipe.Name - @recipe.Meal.Type</li>
    }
</ul>